{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

            <h1>Matched Members</h1>
    {{ form(filter_form) }}
                {% for user in users %}
                    <div>{{ user.name }}
                        <ul>
                            <li>Amžius: {{ user.age }}</li>
                            <li>Marsrutas: {{ user.routeDescription }}</li>
                            <li>Atstumas tarp gyvenamu vietų: {{ matchDetails[user.id].home_distance }} km</li>
                            <li>Atstumas tarp darbo vietų: {{ matchDetails[user.id].work_distance }} km</li>
                            <li>Apie: {{ user.description }}</li>
                        </ul>
                    </div>


                {% endfor %}


{% endblock %}